ul {
  margin: 0.25rem;
  padding: 0.25em;
  list-style: none;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  box-sizing: border-box;
  background-color: #282c34;
  color: whitesmoke;
}
.taskList {
  padding: 40px 15px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  height: 100vh;
  box-sizing: border-box;
  max-width: 330px;
}
.taskList > .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: white;
}
.taskList > .form > input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid white;
  border-radius: 5px;
}
.taskmain {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: white;
}
.taskmain > fieldset > ul {
  text-align: left;
}
.taskmain > fieldset > ul > li {
  font-size: medium;

  margin-bottom: 10px;
}
.form > input[type="text"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: #d65bd9;
  color: white;
}
.form > input[type="button"],
.form > input[type="file"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #61dafb;
  border-radius: 5px;
  background-color: #f071b4;
  color: black;
}
.taskmain > fieldset > ul > textarea {
  display: block;
  background-color: red;
}
.taskmain > fieldset > ul > input[type="button"] {
  border-radius: 5px;
  border: none;
  margin: 5px;
  padding: 5px;
  background-color: red;
}

button {
  font-weight: bolder;
  width: max-content;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f87c68;
  color: black;
}
.modalContainer > button,
.footer > button {
  margin-top: 10px;
  width: 30px;
  height: 30px;
  text-align: justify;
  font-weight: 100;
  box-sizing: border-box;
  border: 1px solid #61dafb;
}
.modalBackground {
  width: 90vw;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.modalContainer {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 25px;
  border: 1px dotted #61dafb;
  border-radius: 5px;
  box-shadow: 0px 10px 25px whitesmoke;
  justify-content: center;
}
.modalBackground > .modalContainer > .body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.footer > button {
  width: min-content;
  height: min-content;
  margin: 10px;
}
.modalBackground > .modalContainer > .body > fieldset {
  width: 50%;
}
fieldset > ul {
  font-size: 0.9rem;
}
.failure {
  width: inherit;
}
fieldset,
legend {
  margin: 0px;
  border: 1px solid #65faa0;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
legend {
  font-weight: bolder;
  font-size: medium;
  width: max-content;
}
